@model Proyecto.Models.Productos

@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles del Producto</h4>
        <hr />        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProductos" />
            
            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Codigo Producto:</label>
                <div class="col-sm-8">
                    <input asp-for="IdProductos" class="form-control" readonly />
                    <span asp-validation-for="IdProductos" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Nombre:</label>
                <div class="col-sm-8">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Descripción:</label>
                <div class="col-sm-8">
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Presentación:</label>
                <div class="col-sm-8">
                    <input asp-for="Presentacion" class="form-control" />
                    <span asp-validation-for="Presentacion" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Cantidad de Presentación:</label>
                <div class="col-sm-8">
                    <input asp-for="CantidadPresentacion" class="form-control" />
                    <span asp-validation-for="CantidadPresentacion" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Tipo de Empaque:</label>
                <div class="col-sm-8">
                    <input asp-for="TipoEmpaque" class="form-control" />
                    <span asp-validation-for="TipoEmpaque" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Cantidad de Empaque:</label>
                <div class="col-sm-8">
                    <input asp-for="CantidadEmpaque" class="form-control" />
                    <span asp-validation-for="CantidadEmpaque" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Precio:</label>
                <div class="col-sm-8">
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
            </div>

           
        

    </div>
</div>
<br />

<div class="form-group row">
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Guardar Cambios</button> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
