@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    
    <img src="https://cdn0.iconfinder.com/data/icons/azure-illustrations/1000/delivery___logistic_warehouse_storage_deliver_e-commerce_box_package-256.png" class="img-fluid" alt="Controlex 777 Image">
</div>
