@model Proyecto.Models.Proveedores

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles del Proveedor a Eliminar</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Cedula:
            </dt>
            <dd class="col-sm-8">
                Texto
            </dd>
            <dt class="col-sm-4">
                Correo:
            </dt>
            <dd class="col-sm-8">
                Texto
            </dd>
            <dt class="col-sm-4">
                Nombre:
            </dt>
            <dd class="col-sm-8">
                Texto
            </dd>
            <dt class="col-sm-4">
                Telefono:
            </dt>
            <dd class="col-sm-8">
                Texto
            </dd>
            <dt class="col-sm-4">
                Provincia:
            </dt>
            <dd class="col-sm-8">
                Texto
            </dd>
            <dt class="col-sm-4">
                Canton:
            </dt>
            <dd class="col-sm-8">
                Texto
            </dd>
            <dt class="col-sm-4">
                Canton:
            </dt>
            <dd class="col-sm-8">
                Texto
            </dd>
            <dt class="col-sm-4">
                Canton:
            </dt>
            <dd class="col-sm-8">
                Texto
            </dd>
            <dt class="col-sm-4">
                Distrito:
            </dt>
            <dd class="col-sm-8">
                Texto
            </dd>
            <dt class="col-sm-4">
                Direccion Exacta:
            </dt>
            <dd class="col-sm-8">
                Texto
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdProveedores" />
            <div class="form-group row justify-content-end">
                <div class="col-sm-10">

                    <input type="submit" value="Eliminar" class="btn btn-danger float-right" />
                </div>
            </div>
        </form>
    </div>

</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>