@model Proyecto.Models.Proveedores

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles del Proveedor a Eliminar</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Cedula:
            </dt>
            <dd class="col-sm-8">
                208060466
            </dd>
            <dt class="col-sm-4">
                Correo:
            </dt>
            <dd class="col-sm-8">
                josed200096@gmail.com
            </dd>
            <dt class="col-sm-4">
                Nombre:
            </dt>
            <dd class="col-sm-8">
                jose david
            </dd>
            <dt class="col-sm-4">
                Telefono:
            </dt>
            <dd class="col-sm-8">
                62819567
            </dd>
            <dt class="col-sm-4">
                Provincia:
            </dt>
            <dd class="col-sm-8">
                Alajuela
            </dd>
            <dt class="col-sm-4">
                Canton:
            </dt>
            <dd class="col-sm-8">
                San Carlos
            </dd>                     
            <dt class="col-sm-4">
                Distrito:
            </dt>
            <dd class="col-sm-8">
                Aguas Zarcas
            </dd>
            <dt class="col-sm-4">
                Direccion Exacta:
            </dt>
            <dd class="col-sm-8">
                200 mts este del parque central
            </dd>
        </dl>

    </div>

</div>
<br />
<div class="form-group row">
    <div class="col-sm-12">
        <input type="submit" value="Eliminar" class="btn btn-danger float-right" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>