@model Proyecto.Models.Facturas

@{
    ViewData["Title"] = "Eliminar";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Información de la Factura</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Proveedor
            </dt>
            <dd class="col-sm-8">
                Suli
            </dd>
            <dt class="col-sm-4">
                Proveedor
            </dt>
            <dd class="col-sm-8">
                Joaquin Martinez
            </dd>
            <dt class="col-sm-4">
                Fecha
            </dt>
            <dd class="col-sm-8">
                16/2/2023
            </dd>
            <dt class="col-sm-4">
                Estado Factura
            </dt>
            <dd class="col-sm-8">
                <input type="checkbox" id="checkbox6" name="checkbox6" value="valor6" checked />  Pendiente
            </dd>
            <dt class="col-sm-4">
                Monto Total
            </dt>
            <dd class="col-sm-8">
                66000
            </dd>
            <dt class="col-sm-4">
                Monto Deuda
            </dt>
            <dd class="col-sm-8">
                0
            </dd>
        </dl>
    </div>

</div>
<br />
<div class="form-group row">
    <div class="col-sm-12">
        <input type="submit" value="Eliminar" class="btn btn-danger float-right" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>