@model Proyecto.Models.Facturas

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles del Producto a Eliminar</h4>
        <hr />
    <dl class="row">
            <dt class="col-sm-2">
                Nombre Proveedor
            </dt>
            <dd class="col-sm-10">
                "Nombre..."
            </dd>
            <dt class="col-sm-2">
                Nombre Usuario
            </dt>
            <dd class="col-sm-10">
                "Nombre..."
            </dd>
            <dt class="col-sm-2">
                Fecha
            </dt>
            <dd class="col-sm-10">
                "Fecha"
            </dd>
            <dt class="col-sm-2">
                Pendiente
            </dt>
            <dd class="col-sm-10">
                "Estado"
            </dd>
            <dt class="col-sm-2">
                Monto Total
            </dt>
            <dd class="col-sm-10">
                "0"
            </dd>
            <dt class="col-sm-2">
                Monto Deuda
            </dt>
            <dd class="col-sm-10">
                "0"
            </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFactura" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>
