@model Proyecto.Models.Facturas

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Información de la Factura</h4>
        <hr />
        <dt class = "col-sm-2">
            Nombre Proveedor
        </dt>
        <dd class = "col-sm-10">
            "Nombre..."
        </dd>
        <dt class = "col-sm-2">
            Nombre Usuario
        </dt>
        <dd class = "col-sm-10">
            "Nombre..."
        </dd>
        <dt class = "col-sm-2">
            Fecha
        </dt>
        <dd class = "col-sm-10">
            "Fecha"
        </dd>
        <dt class = "col-sm-2">
            Pendiente
        </dt>
        <dd class = "col-sm-10">
            "Estado"
        </dd>
        <dt class = "col-sm-2">
            Monto Total
        </dt>
        <dd class = "col-sm-10">
            "0"
        </dd>
        <dt class = "col-sm-2">
            Monto Deuda
        </dt>
        <dd class = "col-sm-10">
            "0"
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.IdFactura">Edit</a> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
