@model Proyecto.Models.Bodegas

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles de Bodega a Eliminar</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Codigo Bodega:
            </dt>
            <dd class="col-sm-8">
                1
            </dd>
            <dt class="col-sm-4">
                Provincia:
            </dt>
            <dd class="col-sm-8">
                 Alajuela
            </dd>
            <dt class="col-sm-4">
                Canton:
            </dt>
            <dd class="col-sm-8">
                San Carlos
            </dd>
            <dt class="col-sm-4">
                Distrito:
            </dt>
            <dd class="col-sm-8">
                Aguas Zarcas
            </dd>
            <dt class="col-sm-4">
                Direccion Exacta: 
            </dt>
            <dd class="col-sm-8">
                200 mts este de la iglesia 
            </dd>
            <dt class="col-sm-4">
                Encargado:
            </dt>
            <dd class="col-sm-8">
                Pablo Sanchez
            </dd>
        </dl>

    </div>

</div>
<br />
<div class="form-group row">
    <div class="col-sm-12">
        <input type="submit" value="Eliminar" class="btn btn-danger float-right" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>