@model Proyecto.Models.Bodegas

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Bodega</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Bodegas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class = "col-sm-8">
               Texto
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Canton)
        </dt>
        <dd class = "col-sm-8">
                Texto
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd class = "col-sm-8">
                Texto
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DireccionExacta)
        </dt>
        <dd class = "col-sm-8">
                Texto
        </dd>
     </dl>
    </div>
</div>
<div class="mt-3">
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.IdBodegas">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la Lista</a>
</div>
