@model Proyecto.Models.Pedidos

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear Pedido</h1>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles del Pedido</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row mb-3">
                <label  class="control-label">Nombre Proveedor</label>
                <input asp-for="IdProveedor" class="form-control" />
                <span asp-validation-for="IdProveedor" class="text-danger"></span>
            </div>
            <div class="form-group row mb-3">
                <label class="control-label">Fecha</label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group row mb-3">
                <label class="control-label">Nombre Usuario</label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group row mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
