@model Proyecto.Models.Pedidos

@{
    ViewData["Title"] = "Eliminar";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles del Pedido a Eliminar</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Codigo Pedido
            </dt>
            <dd class="col-sm-8">
                1
            </dd>
            <dt class="col-sm-4">
                Proveedor
            </dt>
            <dd class="col-sm-8">
                Suli
            </dd>
            <dt class="col-sm-4">
                Fecha
            </dt>
            <dd class="col-sm-8">
                05/04/2024
            </dd>
            <dt class="col-sm-4">
                Nombre Encargado
            </dt>
            <dd class="col-sm-8">
                Daniel Marin
            </dd>
        </dl>

    </div>

</div>
<br />
<div class="form-group row">
    <div class="col-sm-12">
        <input type="submit" value="Eliminar" class="btn btn-danger float-right" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>