@model IEnumerable<Proyecto.Models.Pedidos>

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Pedido</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr class="table-dark table-primary">
            <th>
                Codigo Pedido
            </th>
            <th>
                Proveedor
            </th>
            <th>
                Fecha
            </th>
            <th>
                Encargado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-light">
            <td>2</td>
            <td>Knorr</td>
            <td>15/6/20</td>
            <td>María González</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="">Editar</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="">Eliminar</a>
            </td>
        </tr>
        <tr class="table-secondary">
            <td>3</td>
            <td>Sardimar</td>
            <td>20/7/20</td>
            <td>Luis Pérez</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="">Editar</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="">Eliminar</a>
            </td>
        </tr>
        <tr class="table-light">
            <td>4</td>
            <td>Del Monte</td>
            <td>10/8/20</td>
            <td>Ana Martínez</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="">Editar</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="">Eliminar</a>
            </td>
        </tr>
        <tr class="table-secondary">
            <td>5</td>
            <td>Gallo</td>
            <td>5/9/20</td>
            <td>Carlos Ramírez</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="">Editar</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="">Eliminar</a>
            </td>
        </tr>
        <tr class="table-light">
            <td>6</td>
            <td>Calvo</td>
            <td>25/9/20</td>
            <td>Juan Pérez</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="">Editar</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="">Eliminar</a>
            </td>
        </tr>
    </tbody>

</table>
