@model IEnumerable<Proyecto.Models.Pedidos>

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Pedido</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr class="table-dark table-primary">

            <th>
                Nombre Proveedor
            </th>
            <th>
                Fecha
            </th>
            <th>
                Nombre Usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr class="table-light">

                <td>
                    3M
                </td>
                <td>
                    11/5/20
                </td>
                <td>
                    Daniel Rodriguez
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="">Editar</a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="">Eliminar</a>
                </td>
            </tr>
}
    </tbody>
</table>
