@model Proyecto.Models.Usuarios

@{
    ViewData["Title"] = "Delete";
}

@* <h1 class="text-center">Eliminar</h1> *@

<h3 class="text-center">¿Esta seguro que desea eliminar este usuario?</h3>
<div>
    <hr />
    <table class="table table-striped table-hover text-center">
        <thead>
            <tr class="table-dark table-primary">
                <th>
                    Cedula
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Puesto
                </th>
                <th>
                    Numero de bodega
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    123456789
                </td>
                <td>
                    Luis
                </td>
                <td>
                    Rodriguez Zeledon
                </td>
                <td>
                    3333-3333
                </td>
                <td>
                    Gondolero
                </td>
                <td>
                    Bodega 1
                </td>
            </tr>
            </table>
            <br />
            <div class="row text-center">
        <div class="col-12">
            <input type="submit" value="Eliminar" class="btn btn-danger" />&nbsp; &nbsp; &nbsp;
                <a asp-action="Index" class="btn btn-primary">Cancelar</a>
            </div>
@*                 <div class="col-3"><button asp-action="Index" class="btn btn-primary">Cancelar</button></div> *@
            </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuario" />
    </form>
</div>
