@model IEnumerable<Proyecto.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>
<p>
    <a asp-action="Create" class="btn btn-success text-center">Crear Usuario</a>
</p>
<table class="table table-striped table-hover text-center">
    <thead>
        <tr class="table-dark table-primary">
            <th>
                Cedula
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Telefono
            </th>
            <th>
                Puesto
            </th>
            <th>
                Numero de bodega
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class ="table-light">
            <td>987654321</td>
            <td>Ana</td>
            <td>Gutierrez Mora</td>
            <td>2222-2222</td>
            <td>Cajero</td>
            <td>Bodega 2</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        <tr class="table-secondary">
            <td>456789123</td>
            <td>Carlos</td>
            <td>Sanchez Herrera</td>
            <td>4444-4444</td>
            <td>Reponedor</td>
            <td>Bodega 3</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        <tr class="table-light">
            <td>789123456</td>
            <td>Maria</td>
            <td>Lopez Ramirez</td>
            <td>5555-5555</td>
            <td>Supervisor</td>
            <td>Bodega 4</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        <tr class="table-secondary">
            <td>321654987</td>
            <td>Pablo</td>
            <td>Hernandez Chaves</td>
            <td>6666-6666</td>
            <td>Almacenista</td>
            <td>Bodega 5</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        <tr class="table-light">
            <td>654987321</td>
            <td>Sofia</td>
            <td>Jimenez Rojas</td>
            <td>7777-7777</td>
            <td>Gerente</td>
            <td>Bodega 6</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
